.tarjeta-contactos{
    border: 2px solid;
    padding: 10px;
    margin: 90px;
    margin-right: 800px;
    border-radius: 20px;
    background-color: rgb(188, 209, 202);
}

.contactos{
    text-align: center;
}

.ubicación{
    margin-left: 300px;
}

.logos{
    width: 70px;
    margin-left: 90px;
}

.redes{
    color: black;
    font-size: 20px;
    text-align: left;
    margin: 90px;
    font-family: 'Fira Sans', sans-serif;
}