.info-contacto{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: rgb(188, 209, 202);
}
.logos-footer{
    width: 40px;
    margin-left: 180px;
}

.nosotros{
    font-weight: bold;
    text-decoration: underline;
}